@use '@styles/mixins.module.scss' as mixins;
@use '@styles/variables.module.scss' as vars;

.box{
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
}

.title{
    font-size: 18px;
    color: vars.$secondary_color;
}